.ui-mark-down h1, .ui-mark-down h2, .ui-mark-down h3, .ui-mark-down h4 {
    font-weight: 400;
    margin-top: 1em;
  }
  .ui-mark-down h1, .ui-mark-down h2, .ui-mark-down h3, .ui-mark-down h4, .ui-mark-down h5, .ui-mark-down p, .ui-mark-down dl {
    margin-bottom: 16px;
    padding: 0;
  }
  .ui-mark-down h1 {
    font-size: 48px;
    line-height: 54px;
  }
  .ui-mark-down h2 {
    font-size: 36px;
    line-height: 42px;
  }
  .ui-mark-down h1, .ui-mark-down h2 {
    border-bottom: 1px solid #EFEAEA;
    padding-bottom: 10px;
  }
  .ui-mark-down h3 {
    font-size: 24px;
    line-height: 30px;
  }
  .ui-mark-down h4 {
    font-size: 21px;
    line-height: 26px;
  }
  .ui-mark-down h5 {
    font-size: 18px;
    line-height: 23px;
  }
  .ui-mark-down a {
    color: #0099ff;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
  }
  .ui-mark-down a:hover {
    text-decoration: none;
    color: #ff6600;
  }
  .ui-mark-down a:visited {
    color: purple;
  }
  .ui-mark-down ul, .ui-mark-down ol {
    padding: 0;
    padding-left: 24px;
    margin: 0;
  }
  .ui-mark-down li {
    line-height: 24px;
  }
  .ui-mark-down p {
    margin: 1.5em 0;
  }
  .ui-mark-down p, .ui-mark-down ul, .ui-mark-down ol {
    font-size: 15px;
    line-height: 24px;
  }
  .ui-mark-down ol ol, .ui-mark-down ul ol {
    list-style-type: lower-roman;
  }
  .ui-mark-down code, .ui-mark-down pre {
    border-radius: 3px;
    background-color: #f7f7f7;
    color: inherit;
  }
  .ui-mark-down code {
    margin: 0 2px;
    padding: 0 4px;
  }
  .ui-mark-down pre {
    line-height: 1.7em;
    overflow: auto;
    padding: 6px 10px;
  }
  .ui-mark-down pre > code {
    border: 0;
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    font-size: .85em;
    white-space: pre;
    background: 0 0;
  }
  .ui-mark-down code {
    color: #666555;
  }
  .ui-mark-down aside {
    display: block;
    float: right;
    width: 390px;
  }
  .ui-mark-down blockquote {
    border-left: 2px solid #19be6b;
    background: #F6F6F6;
    color: #555;
    font-size: 1em;
    padding: 10px 20px;
    margin: 20px 0;
  }
  .ui-mark-down blockquote cite {
    font-size: 14px;
    line-height: 20px;
    color: #bfbfbf;
  }
  .ui-mark-down blockquote cite:before {
    content: '\2014 \00A0';
  }
  .ui-mark-down blockquote p {
    color: #666;
    margin: 0;
  }
  .ui-mark-down hr {
    text-align: left;
    color: #999;
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
  }
  .ui-mark-down dl {
    padding: 0;
  }
  .ui-mark-down dl dt {
    padding: 10px 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
  }
  .ui-mark-down dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
  }
  .ui-mark-down dd {
    margin-left: 0;
  }
  .ui-mark-down button,
  .ui-mark-down input,
  .ui-mark-down select,
  .ui-mark-down textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
  }
  .ui-mark-down button, .ui-mark-down input {
    line-height: normal;
    *overflow: visible;
  }
  .ui-mark-down button::-moz-focus-inner, .ui-mark-down input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  .ui-mark-down button,
  .ui-mark-down input[type="button"],
  .ui-mark-down input[type="reset"],
  .ui-mark-down input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
  }
  .ui-mark-down input[type=checkbox], .ui-mark-down input[type=radio] {
    cursor: pointer;
  }
  .ui-mark-down input:not([type="image"]), .ui-mark-down textarea {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  .ui-mark-down input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  .ui-mark-down input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  .ui-mark-down label,
  .ui-mark-down input,
  .ui-mark-down select,
  .ui-mark-down textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 18px;
  }
  .ui-mark-down input[type=checkbox], .ui-mark-down input[type=radio] {
    cursor: pointer;
    margin-bottom: 0;
  }
  .ui-mark-down input[type=text],
  .ui-mark-down input[type=password],
  .ui-mark-down textarea,
  .ui-mark-down select {
    display: inline-block;
    width: 210px;
    padding: 4px;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    height: 18px;
    color: #808080;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .ui-mark-down select, .ui-mark-down input[type=file] {
    height: 27px;
    line-height: 27px;
  }
  .ui-mark-down textarea {
    height: auto;
  }
  .ui-mark-down :-moz-placeholder {
    color: #bfbfbf;
  }
  .ui-mark-down ::-webkit-input-placeholder {
    color: #bfbfbf;
  }
  .ui-mark-down input[type=text],
  .ui-mark-down input[type=password],
  .ui-mark-down select,
  .ui-mark-down textarea {
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  .ui-mark-down input[type=text]:focus, .ui-mark-down input[type=password]:focus, .ui-mark-down textarea:focus {
    outline: none;
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  }
  .ui-mark-down button {
    display: inline-block;
    padding: 4px 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #0064cd;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
    background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
    background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
    background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
    background-image: -o-linear-gradient(top, #049cdb, #0064cd);
    background-image: linear-gradient(to top, #049cdb, #0064cd);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid #004b9a;
    border-bottom-color: #003f81;
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    transition: 0.1s linear all;
    border-color: #0064cd #0064cd #003f81;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  }
  .ui-mark-down button:hover {
    color: #fff;
    background-position: 0 -15px;
    text-decoration: none;
  }
  .ui-mark-down button:active {
    -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  }
  .ui-mark-down button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  .ui-mark-down > table {
    *border-collapse: collapse;
    /* IE7 and lower */
    border-spacing: 0;
    width: 100%;
  }
  .ui-mark-down > table {
    border: solid #e3e8ee 1px;
  }
  .ui-mark-down > table tr:hover {
    background: #ebf7ff;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .ui-mark-down > table td {
    border-left: 1px solid #e3e8ee;
    border-top: 1px solid #e3e8ee;
    padding: 10px;
    text-align: left;
  }
  .ui-mark-down > table th {
    background-color: #f5f7f9;
    border-top: none;
    border-left: 1px solid #e3e8ee;
    padding: 8px;
  }
  .ui-mark-down > table td:first-child, .ui-mark-down > table th:first-child {
    border-left: none;
  }
  